body{
  margin: 20px;
}
li{
  list-style: none;
}
.primary{
  width:200px ;
  height: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 7px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(155, 88, 88) ,rgb(177, 177, 141));
}
/* input[type=text] {
  width: 200px;
  padding: 8px 10px;
  margin: 10px 5px;
  
} */

.form-btn{
  display: flex;
  justify-content: center;
}
.radio-container{
display: flex;
}
.radio-sty{
  padding: 10px;
}
.radio-center{
  vertical-align: middle;
}
.radio-container label{
  padding-right: 10px;
  }
  .left-content{
    display: flex;
  }
  #flightitem ul{
    border:1px solid #ddd;
    padding:0px;
    display:flex
  }
  #flightitem{
    margin-left: 100px;
  }
  #flightitem ul li{
    border-right: 1px solid #ddd;
    padding: 10px;
  }
  #flightitem ul li:last-child{
    border-right:none;
    padding: 10px;
  }
  .btn-container{
    display: flex;
    justify-content: space-between;
  }
.cus-btn{
  width:100px
}

